<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>hnjobsexplorer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <nav class="container-fluid">
        <ul>
            <li>
                <a href="./" class="contrast" onclick="event.preventDefault()"><strong>Hnjobsexplorer</strong></a>
            </li>
        </ul>
        <ul>
            <li>
                <a role="button" class="secondary outline" href="/reset_seen">Reset seen</a>
            </li>
        </ul>
    </nav>
</div>

<main class="container">
    <div class="grid">
        <h2 style="text-align: center">Ask HN: Who is hiring?</h2>
    </div>
    <div class="grid-search">
        <form hx-post="/" hx-target="#listing">
            {% csrf_token %}
            <label for="search">Search (max 3 keywords)</label>
            <div class="grid">
                <input type="text" id="search" name="search" placeholder="Python, Remote, Frontend">
                <select id="current_thread_id" name="current_thread_id" hx-post="/" hx-target="#listing" required>
                    {% for thread in threads %}
                    <option value="{{ thread.id }}">{{ thread.date }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Submit</button>
            <input type="checkbox" id="hideSeen" name="hideSeen"><label for="hideSeen">Hide seen jobs</label>
        </form>
    </div>
    <div class="container" id="listing">
        {% include 'components/listing.html' %}
    </div>
</main>
</body>
<style>
    .grid-search {
        padding: 3em;
    }

    .dot {
        height: 10px;
        width: 10px;
        background-color: lightskyblue;
        border-radius: 50%;
        display: inline-block;
    }
</style>
<script>
    function setSeen(el) {
        try {
            var spanElement = el.querySelector('.dot');
            spanElement.style.display = 'none';
        } catch (e) {}

        var summaryElement = el.querySelector('.jobSummary');
        summaryElement.style.color = '#c8c8c8';
    }
</script>
</html>